
{{#filterform}}

    <div class="card m-b-1">

        <div class="card-header">
            {{#str}}template_page_view_filterform_title, local_eledia_quizattempt_monitoring{{/str}}
        </div>

        <div class="card-body">

            <form action="{{{formurl}}}" target="_self" method="post">

                <input type="hidden" name="sesskey" value="{{{sesskey}}}">
                <input type="hidden" name="filterform" value="1">
                <input type="hidden" name="id" value="{{{cmid}}}">

                <div class="form-group row">
                    <label for="studentnamefilter" class="col-sm-2 col-form-label">{{#str}}template_page_view_filterform_label_studentnamefilter, local_eledia_quizattempt_monitoring{{/str}}</label>
                    <div class="col-sm-10">
                        <input
                                id="studentnamefilter"
                                type="text"
                                name="studentnamefilter"
                                value="{{{studentnamefilter}}}"
                                class="form-control"
                                placeholder="{{#str}}template_page_view_filterform_placeholder_studentnamefilter, local_eledia_quizattempt_monitoring{{/str}}"
                        >
                    </div>
                </div>

                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">{{#str}}template_page_view_filterform_label_stateoption, local_eledia_quizattempt_monitoring{{/str}}</legend>
                        <div class="col-sm-10">
                            {{#stateoptions}}
                               <div class="form-check">
                                   <input class="form-check-input" type="checkbox" id="stateoption{{{identifier}}}" {{#active}}checked{{/active}} name="stateoption[]" value="{{{identifier}}}">
                                   <label class="form-check-label" for="stateoption{{{identifier}}}">{{{name}}}</label>
                               </div>
                            {{/stateoptions}}
                        </div>
                    </div>
                </fieldset>

                <div class="form-group col-sm-10 offset-sm-2 p-l-0">
                    <button class="btn btn-primary" type="submit" name="submitfilter" value="1">{{#str}}template_page_view_filterform_label_submitfilter, local_eledia_quizattempt_monitoring{{/str}}</button>
                    <button class="btn btn-secondary" type="submit" name="resetfilter" value="1">{{#str}}template_page_view_filterform_label_resetfilter, local_eledia_quizattempt_monitoring{{/str}}</button>
                </div>
            </form>

        </div>

    </div>

{{/filterform}}

{{#hasattempts}}

    <form action="{{{overrideformurl}}}" target="_self" method="post">

        <input type="hidden" name="sesskey" value="{{{sesskey}}}">
        <input type="hidden" name="overrideform" value="1">
        <input type="hidden" name="id" value="{{{cmid}}}">

        <table class="attemptlist table table-bordered table-hover">

            <thead class="thead-light">
                <th>
                    <input type="checkbox" id="checkboxcontrol">
                </th>
                <th>
                    {{#str}}template_page_view_header_studentname, local_eledia_quizattempt_monitoring{{/str}}
                </th>
                <th>
                    {{#str}}template_page_view_header_state, local_eledia_quizattempt_monitoring{{/str}}
                </th>
                <th>
                    {{#str}}template_page_view_header_progress, local_eledia_quizattempt_monitoring{{/str}}
                </th>
                <th>
                    {{#str}}template_page_view_header_grading, local_eledia_quizattempt_monitoring{{/str}}
                    &nbsp;
                    (
                        <a id="showallgradeinfo" class="d-inline-block" href="#"><i class="fa fa-chevron-right"></i>&nbsp;{{#str}}template_page_view_header_grading_showallgradeinfo, local_eledia_quizattempt_monitoring{{/str}}</a>
                        <a id="hideallgradeinfo" class="d-none" href="#"><i class="fa fa-chevron-down"></i>&nbsp;{{#str}}template_page_view_header_grading_hideallgradeinfo, local_eledia_quizattempt_monitoring{{/str}}</a>
                    )
                </th>
                <th>
                    {{#str}}template_page_view_header_timedue, local_eledia_quizattempt_monitoring{{/str}}
                </th>
                <th>
                    {{#str}}template_page_view_header_overrides, local_eledia_quizattempt_monitoring{{/str}}
                </th>
            </thead>

            <tbody>

                {{#attempts}}
                    <tr>
                        <td>
                            <input type="checkbox" name="attemptoverride[]" value="{{{attemptid}}}">
                        </td>
                        <td>
                            <a href="{{{studenturl}}}">{{{studentname}}}</a>
                        </td>
                        <td>
                            {{{state}}}
                        </td>
                        <td>
                            {{{progress}}}
                            <a href="{{{attemptdetailurl}}}">{{#str}}template_page_view_viewattemptlink, local_eledia_quizattempt_monitoring{{/str}}</a>
                        </td>
                        <td>
                            {{{grading}}}
                        </td>
                        <td>
                            <div>
                                {{#str}}template_page_view_attemptstarted, local_eledia_quizattempt_monitoring{{/str}}:
                                {{#userdate}}{{timestarted}}, {{#str}} strftimedatetime, core_langconfig {{/str}}{{/userdate}}
                            </div>
                            {{#timefinished}}
                                <div>
                                    {{#str}}template_page_view_attemptfinished, local_eledia_quizattempt_monitoring{{/str}}:
                                    {{#userdate}}{{timefinished}}, {{#str}} strftimedatetime, core_langconfig {{/str}}{{/userdate}}
                                </div>
                            {{/timefinished}}
                            {{^timefinished}}
                                <div class="m-t-1">
                                    {{{timedue}}}
                                </div>
                                {{#timeleft}}
                                    <div>
                                        {{#str}}timeleft, quiz{{/str}}: <span class="timeleft_timer font-weight-bold" data-timeleft="{{.}}">--:--:--</span>
                                    </div>
                                {{/timeleft}}
                            {{/timefinished}}
                        </td>
                        <td>
                            <div class="container-fluid">
                                <div class="row m-b-1">
                                    <a class="btn btn-primary btn-sm" href="{{{createoverrideurl}}}">{{#str}}template_page_view_override_createlink, local_eledia_quizattempt_monitoring{{/str}}</a>
                                    {{#deleteoverrideurl}}
                                        <a class="btn btn-primary btn-sm m-l-1" href="{{{deleteoverrideurl}}}">{{#str}}template_page_view_override_deletelink, local_eledia_quizattempt_monitoring{{/str}}</a>
                                    {{/deleteoverrideurl}}
                                </div>
                                <div class="row">
                                    {{#hasoverrides}}
                                        <ul>
                                            {{#overrides}}
                                                <li>{{{.}}}</li>
                                            {{/overrides}}
                                        </ul>
                                    {{/hasoverrides}}
                                    {{^hasoverrides}}
                                        {{#str}}template_page_view_override_nooverrides, local_eledia_quizattempt_monitoring{{/str}}
                                    {{/hasoverrides}}
                                </div>
                            </div>
                        </td>
                    </tr>
                {{/attempts}}

            </tbody>

        </table>

        <div>
            <button class="btn btn-primary" type="submit" name="addoverride" value="1">{{#str}}template_page_view_label_addoverride, local_eledia_quizattempt_monitoring{{/str}}</button>
            <button class="btn btn-primary" type="submit" name="deleteoverride" value="1">{{#str}}template_page_view_label_deleteoverride, local_eledia_quizattempt_monitoring{{/str}}</button>
        </div>

    </form>

{{/hasattempts}}

{{^hasattempts}}
    <div class="card">
        <div class="card-body font-weight-bold">
            {{#str}}template_page_view_noattempts, local_eledia_quizattempt_monitoring{{/str}}
        </div>
    </div>
{{/hasattempts}}
